<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start</th>
      <th>End</th>
    </tr>
  </thead>
  <tbody>
    <% if (events.length > 0) { %> 
      <% events.sort((a, b) => b.date_start - a.date_start).forEach(event => { %>
        <tr>
          <td><%= event.event_name %></td>
          <td>
            <%= event.date_start.toLocaleDateString('fr-FR', { day: '2-digit', month: '2-digit', year: 'numeric' }) %>
          </td>
          <td>
            <%= event.date_end.toLocaleDateString('fr-FR', { day: '2-digit', month: '2-digit', year: 'numeric' }) %>
          </td>
          <td>
            <div class="action">
              <a class="button" href="/admin/events-modification/<%= event.id %>">Modifier</a>
              <form
                id="delete-form-<%= event._id %>"
                method="post"
                action="/admin/event-delete/<%= event._id %>"
              >
                <a class="button" href="#" onclick="return confirmDelete('<%= event._id %>')">Supprimer</a>
              </form>
            </div>

          </td>
        </tr>
      <% }); %> 
    <% } else { %>
      <tr>
        <td colspan="2">No event available</td>
      </tr>
    <% } %>
  </tbody>
</table>

<script>
  const confirmDelete = (eventID) => {
    if (confirm("Êtes-vous sûr de vouloir supprimer cet élément ?")) {
      document.getElementById("delete-form-" + eventID).submit();
      return true;
    } else {
      return false;
    }
  };
</script>
