<table>
  <thead>
    <tr>
      <th>Résidences</th>
      <th>Collectif</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% if (residencies.length > 0) { %> <% residencies.forEach(residency => { %>
    <tr>
      <td><%= residency.residency_name %></td>
      <td><%= residency.collective_name %></td>
      <td>
        <div class="action">
          <a class="button" href="/admin/residencies-modification/<%= residency.id %>">Modifier</a>
          <form
            id="delete-form-<%= residency._id %>"
            method="post"
            action="/admin/residency-delete/<%= residency._id %>"
          >
            <a class="button" href="#" onclick="return confirmDelete('<%= residency._id %>')">Supprimer</a>
          </form>
        </div>
      </td>
    </tr>
    <% }); %> <% } else { %>
    <tr>
      <td colspan="3">No residencies available</td>
    </tr>
    <% } %>
  </tbody>
</table>

<script>
  const confirmDelete = (residencyId) => {
    if (confirm("Êtes-vous sûr de vouloir supprimer cet élément ?")) {
      document.getElementById("delete-form-" + residencyId).submit();
      return true;
    } else {
      return false;
    }
  };
</script>
