<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/agenda.css">
  <script defer src ="/scripts/script.js"></script>
  <title>Agenda</title>
</head>
  <body class="love-art agenda">
    <%- include('./partials/header.ejs') %>
    <main>
      <section class="main-header">
        <div class = "top-container">
          <h1 class = "section-title">Upcoming event</h1>
          <a href="#" class = "become-member wip">become a member</a>
        </div>
        <div class="line"></div>
      </section> 
      <section class="event-list">
        <% if (events.length > 0) { %> <% events.forEach(event => { %>
        <a class = "link"  href = "/agenda/<%=event.id %>">
          <afticle class="event">
            <div class="date">
              <!-- <%= event.hour_start %></br><%= event.hour_end %> -->
              15 -> 16</br>
              04.24
            </div>
            <div class="type"><%= event.short_description %></div>
            <div class="name"><%= event.name %></div>
          </article>
        </a>
        <% }); %> <% } else { %>
          <div>No events available</div>
        <% } %>
      </section>


    </main>
  </body>
</html>
