<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs")%>
    <link rel="stylesheet" href="/css/residency.css">

    <title>explore</title>
    <% console.log("coucou") %>
    <% events.forEach ((event)=>{ %>
      <% console.log(event)%>
      <% }) %>
  </head>
    <body>
      <%- include('./partials/header.ejs') %>
      <main>
        <section class="title-section">
          <div class = "title-container">
            <div class="date">
              <div class="first-line">
                <div class = "start-day"><%= project.residency_start.getDate(); %> </div>
                <div class="big-arrow"></div>
                <div class="end-day"><%= project.residency_end.getDate() %></div> 
              </div>

              <div>
                <%= (project.residency_end.getMonth()<10)?"0"+ project.residency_end.getMonth():+ project.residency_end.getMonth() %>.<%=project.residency_end.getFullYear()-2000%>&nbsp
              </div>
            </div>

            <div class="titles">
              <h1><%= project.collective_name %></h1>
              <h2><%= project.project_name %></h2>
            </div>

            <div class="socials">
              <a class = "siteweb" href="<%= project.project_website %>" target="_blank" rel="noopener noreferrer"></a>
              <a class = "fb" href="<%= project.project_facebook %>" target="_blank" rel="noopener noreferrer"></a>
              <a class = "insta" href="<%= project.project_insta %>" target="_blank" rel="noopener noreferrer"></a>
              <a class = "youtube" href="<%= project.project_youtube %>" target="_blank" rel="noopener noreferrer"></a>
            </div>
          </div>

          <div class="line"></div>
        </section> 
        <section class="main-content">
          <section class="info">
            <aside>
              <div class="residency-artists">
                <h3>artists</h3>
                <% let i = 1; %>
                <% while(project["artist_name_"+i] !== undefined) {%>
                  <% if (project["artist_name_"+i] !=="") { %>
                    <a href="<%= project["artist_url_"+i] %>" target="_blank" rel="noopener noreferrer"><%=project["artist_name_"+i]%></a>
                  <% } %>
                  <% i++ %>
                <% } %>
                 

              </div>
              <div class="residency-events">
                <h3>events</h3>
                <!-- ejs génération events -->
              </div>
            </aside>
            <p class="description"><%= project.description %></p>
          </section>
          <section class="pictures">
            <div class="left-column">
              <div class="img-container"></div>
              <div class="img-container"></div>
              <div class="img-container"></div>
            </div>
            <div class="right-column">
              <div class="img-container"></div>
              <div class="img-container"></div>
            </div>

          </section>
        </section>
      </main>
</body>
</html>