<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./partials/head.ejs")%>
  <link rel="stylesheet" href="/css/agenda.css">
  <title>Agenda</title>
</head>

  <body class="love-art agenda">

    <%- include('./partials/header.ejs') %>

    <main>
      <section class="title-section">
        <div class = "top-container">
          <h1 class = "section-title">Upcoming event</h1>
          <a href="become-a-member" class = "become-member wip">become a member</a>
        </div>
        <div class="line"></div>
      </section> 

      <section class="event-list">
        <% if (events.length > 0) { %> 
          <% events.forEach(event => { %>
            <% const today = new Date()%>
            <% if (event.date_end.getTime() >= today.getTime()){%>
          <a class = "link"  href = "/agenda/<%=event.id %>">
            <article class="event">
              <div class="date">
                <div class="first-line">
                  <div class = "start-day"><%= event.date_start.getDate(); %> </div>
                  <div class="arrow"></div>
                  <div class="end-day"><%= event.date_end.getDate() %></div> 
                </div>
                <div>
                  <%= (event.date_end.getMonth()<10)?"0"+ event.date_end.getMonth():+ event.date_end.getMonth() %>.<%=event.date_end.getFullYear()-2000%>&nbsp
                </div>
              </div>
              <div class="type"><%= event.event_type %></div>
              <div class="name"><%= event.event_name %></div>
            </article>
          </a>
          <% } %>
        <% }); %> <% } else { %>
          <div>No events available</div>
        <% } %>
      </section>

      <section class="title-section">
        <div class = "top-container">
          <h1 class = "section-title">past events</h1>
        </div>
        <div class="line"></div>
      </section> 
      <section class="event-list">
        <% if (events.length > 0) { %> 
          <% events.forEach(event => { %>
            <% const today = new Date()%>
            <% if (event.date_end.getTime() < today.getTime()){%>
          <a class = "link"  href = "/agenda/<%=event.id %>">
            <article class="event">
              <div class="date">
                <div class="first-line">
                  <div class = "start-day"><%= event.date_start.getDate(); %> </div>
                  <div class="arrow"></div>
                  <div class="end-day"><%= event.date_end.getDate() %></div> 
                </div>
                <div>
                  <%= (event.date_end.getMonth()<10)?"0"+ event.date_end.getMonth():+ event.date_end.getMonth() %>.<%=event.date_end.getFullYear()-2000%>&nbsp
                </div>
              </div>
              <div class="type"><%= event.event_type %></div>
              <div class="name"><%= event.event_name %></div>
            </article>
          </a>
          <% } %>
        <% }); %> <% } else { %>
          <div>No events available</div>
        <% } %>
      </section>


    </main>
    <footer>
      
    </footer>
  </body>
</html>
