<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./partials/head.ejs")%>
  <link rel="stylesheet" href="/css/agenda.css">
  <title>Agenda</title>
</head>

  <body class="love-art agenda">

    <%- include('./partials/header.ejs') %>

    <main>
      <section class="title-section">
        <div class = "top-container">
          <h1 class = "section-title">Upcoming event</h1>
          <a href="become-a-member" class = "become-member wip">become a member</a>
        </div>
        <div class="line"></div>
      </section> 

      <section class="event-list">
        <% if (events.length > 0) { %> <% events.forEach(event => { %>
          <a class = "link"  href = "/agenda/<%=event.id %>">
            <article class="event">
              <div class="date">
                <!-- <%= event.hour_start %></br><%= event.hour_end %> -->
                15 -> 16</br>
                04.24
              </div>
              <div class="type"><%= event.event_type %></div>
              <div class="name"><%= event.event_name %></div>
            </article>
          </a>

        <% }); %> <% } else { %>
          <div>No events available</div>
        <% } %>
      </section>


    </main>
  </body>
</html>
