<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs")%>
    <link rel="stylesheet" href="/css/event.css">
    <title><%= events.event_name %></title>
  </head>

<body>

  <%- include('./partials/header.ejs') %>
  <main>
    <div class="img-container" 
    style = "background-image: url(<%="/assets/events_img/"+events.event_name.replace(/[^\w\s]/g, "").replace(/\s+/g, "_").toLowerCase()+"/img0.png" %>)">
      <div class="checkerboard"></div>
    </div>
    <article class="event">
      <div class="date">
        <div class="first-line">
          <div class = "start-day"><%= events.date_start.getDate(); %> </div>
          <div class="arrow"></div>
          <div class="end-day"><%= events.date_end.getDate() %></div> 
        </div>
        <div>
          <%= (events.date_end.getMonth()<10)?"0"+ events.date_end.getMonth():+ events.date_end.getMonth() %>.<%=events.date_end.getFullYear()-2000%>&nbsp
        </div>
      </div>
      <div class="type"> <%= events.event_type %> </div>
      <div class="name"><%= events.event_name%></div>
    </article>
  <div class="main-container">
    <div class="main-content">
      <% if (events.event_youtube !== "") { %>
        <iframe width="560" height="315" src="<%= events.event_youtube.replace('watch?v=','embed/') %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      <% } %>
      <p><%= events.event_description %></p>
    </div>

    <aside>
      <a href="/become-a-member" class="become-member">become member</a>
      <h2>info pratiques</h2>
      <div class="programation">
        <h3>Programmation</h3>
        <p><%= events.event_programmation %></p>
        </div>
        <div class="price">
          <h3>Prix</h3>
          <p><%= events.event_price %></p>
          </div>

    </aside>
  </div>
    
  </main>
  <p class = "safe-space"><%=safe_place.text %></p>
</body>
</html>