<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs")%>
    <link rel="stylesheet" href="/css/index.css">

    <title>Home</title>
  </head>
  <body>
    <div class="background-lines">
    <%- include('./partials/header.ejs') %>
    <main>
      <div class="main-container">
        <div class="videowrapper">
          <iframe width="560" height="315" 
          src="https://www.youtube.com/embed/fFOzbEN-6ms"
          title="Intro video" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          referrerpolicy="strict-origin-when-cross-origin" 
          allowfullscreen>
        </iframe>
        </div>
      </div>

      <div class="bottom-container">
        <section class="title-section">
          <div class = "top-container">
            <h2 class = "section-title" id = "next-event">next event</h1>
            <a href="#" class = "become-member wip">become a member</a>
          </div>
          <div class="line"></div>
        </section> 
        <section class="event-list">
          <% if (nextEvent.length > 0) { %> 
            <% nextEvent.forEach(event => { %>
              <% const today = new Date()%>
              <% if (event.date_end.getTime() >= today.getTime()){%>
            <a class = "link"  href = "/agenda/<%=event.id %>">
              <article class="event">
                <div class="date-and-type">
                  <div class="date">
                    <div class="first-line">
                      <div class = "start-day"><%= event.date_start.getDate(); %> </div>
                      <div class="arrow"></div>
                      <div class="end-day"><%= event.date_end.getDate() %></div> 
                    </div>
                    <div>
                      <%= (event.date_end.getMonth()<10)?"0"+ event.date_end.getMonth():+ event.date_end.getMonth() %>.<%=event.date_end.getFullYear()-2000%>&nbsp
                    </div>
                  </div>
                  <div class="type"><%= event.event_type %></div>
                </div>
                <div class="name"><%= event.event_name %></div>
              </article>
            </a>
            <% } %>
          <% }); %> <% } else { %>
            <div>No events available</div>
          <% } %>
        </section>
      </div>
    </main>
    <footer></footer>
  </div>
  </body>
</html>
