<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs")%>
    <link rel="stylesheet" href="/css/residencies.css">
    <script defer src="/scripts/filters.js"></script>

    <title>Residencies</title>
  </head>
  <body>
    <div class="background-lines">

    <%- include('./partials/header.ejs') %>
    <main>

      <section class="title-section">
        <div class = "top-container">
          <h1 class = "section-title">Residencies</h1>
          <a href="become-a-member" class = "become-member wip desktop">become a member</a>
        </div>
        <div class="line"></div>
      </section> 

      <section class="filter-section">
        
        <div class = "filter-btn unselected">past</div>
        <div class = "filter-btn unselected">current</div>
        <div class = "filter-btn unselected">futur</div>
        <div class = "unselected all">all</div>

      </section>

      <section class="residencies-list">
        <div class="wrapper">
        <% residencies.forEach((residency) => { %>


          <a class = "residency 

          <% if(residency.residency_start > new Date()){%>
            <%= "futur" %>
            <%}else if (residency.residency_end > new Date()){ %>
              <%= "current" %>
            <%}else{ %>
              <%= "past" %>
            <%} %>
          " href="/residencies/<%= residency._id%>">
              <% if (residency.images.length>0) { %>
                <div class="img-container" style="background-image: url(<%=residency.images[0]%>)">
              <% }else{ %>
                <div class="img-container"><%=residency.residency_name%></div>
              <% } %>


            </div>


          </a>
        <% }) %>
      </div>  
      </section>
    </main>
    <footer></footer>
  </div>
  </body>

</html>
